@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 요거 떄문이네  */
body {
  /* background: var(--background); */
  /* background-color: #0f1220; */
  /* background-color: #262626; */
  /* color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}

html.dark {
  background-color: #262626;
}

.input-compact{
  width:100%;
  border-radius:0.375rem;
  border:1px solid rgba(255,255,255,0.1);
  padding:0.5rem 0.75rem; /* py-2 px-3 */
  font-size:0.875rem;     /* text-sm */
  color:#fff;
  background-color:rgba(255,255,255,0.05) !important;
  outline:none;
  transition:all .2s;
}
.input-compact::placeholder{ color:rgba(255,255,255,0.4); }
.input-compact:focus{
  border-color:rgba(255,255,255,0.25);
  background-color:rgba(255,255,255,0.07) !important;
}



